.meat {
  height: 20px;
  border-radius: 8px;
  background-color: #542e08;
}

.meat--small {
  height: 4px;
  border-radius: 2px;
  background-color: #542e08;
}

.cheese--small {
  border-radius: 2px;
  height: 2px;
  background-color: #d9b71e;
}

.lettuce--small {
  border-radius: 2px;
  height: 2px;
  background-color: #18941e;
}

.tomato--small {
  position: relative;
  height: 2px;
  background-color: red;
}

.cheese {
  background-color: #d9b71e;
  position: relative;
}

.cheese::after {
  content: "";
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #d9b71e;
  top: 100%;
  left: 70%;
  z-index: 1;
}

.lettuce {
  background-color: #18941e;
}

.bacon {
  background-color: #965d3f;
}

.cheese,
.lettuce,
.bacon,
.tomato {
  height: 8px;
  border-radius: 8px;
}

.meat,
.cheese,
.lettuce,
.bacon,
.tomato,
.meat--small,
.cheese--small,
.tomato--small,
.lettuce--small {
  margin: 1px 0;
  width: 100%;
}

.tomato {
  position: relative;
}

.tomato::after,
.tomato::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 45%;
  background-color: red;
  border-radius: 8px;
}

.tomato::after {
  right: 2.5%;
}

.tomato::before {
  left: 2.5%;
}
