.fade-move-enter {
  opacity: 0;
  transform: translateY(-30px);
}

.fade-move-enter.fade-move-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.fade-move-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-move-exit.fade-move-exit-active {
  opacity: 0;
  transform: translate(30px, 0);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.order-details__menu {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1rem;
}

.order-price {
  margin-bottom: 1rem;
}

.order-price__value {
  font-weight: bold;
}

.order-details {
  display: flex;
  flex-direction: column;
}
