.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9c5b1a;
  padding: 0 48px;
}

.navbar__header {
  display: flex;
}

.navbar__header-logo {
  width: 30px;
}

.navbar__header-title {
  margin-left: 1rem;
  color: #f7e579;
}

.navbar__menu {
  display: flex;
}
