* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f7e579;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  height: calc(100% - 60px);
}

.main > * {
  height: 100%;
}

.burger-cta {
  background-color: #f7e579;
}

.burger-cta__header {
  text-align: center;
}

.burger-cta__content {
  height: 100%;
}

.burger {
  flex: 1;
  border-right: 1px solid #542e08;
  border-left: 1px solid #542e08;
}

.burger-cta,
.order-details {
  width: 300px;
}

.burger,
.burger-cta__content,
.burger-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.order-details {
  display: flex;
  flex-direction: column;
}

.burger-cta,
.order-details,
.burger {
  padding: 32px;
}

.burger-container {
  height: 100%;
  width: 300px;
}

.burger-container > * {
  width: 100%;
}

.order-details__header,
.burger__header {
  margin-bottom: 16px;
}

.order-price {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.order-price__value {
  font-weight: bold;
}

/* ORDER DETAISL */
.order-details__menu {
  max-height: 100%;
  overflow: auto;
}
